@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animateDisappear {
    animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animateAppear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}