body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: white;
}

.giftcontainer {
    transform: translateY(300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giftCap {
    transform: translateY(55px);
    background-image: url('giftCap.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(rgb(126, 0, 0), rgb(206, 10, 10)); */
    width: 380px;
    height: 80px;
    /* border: 1px solid #FF8484FF; */
    /* box-shadow: 0px 3px 10px 1px #ff8484; */
}

.giftBox {
    background-image: url('giftBox.png');
    background-size: cover;
    /* background-image: linear-gradient(rgb(206, 10, 10), rgb(178, 2, 2)); */
    width: 350px;
    height: 350px;
    /* border: 1px solid #FF8484FF; */
    /* box-shadow: 0px 0px 10px 3px #ff8484; */
}

.openBtnContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.openBtn {
    text-align: center;
    background-color: transparent;
    border: 1px solid #FF8484FF;
    color: white;
    padding: 13px 45px;
    font-size: 50px;
    border-radius: 80px;
    box-shadow: 0 2px 10px 3px #FF8484FF;

    transition: margin-top 0.15s;
}

.openBtn:hover {
    background-color: #ff8484;
    margin-top: 10px;
}

.giftTextCard {
    /*display: none;*/
    display: flex;
    justify-content: center;
    align-content: center;

    margin-top: 3%;
}

.content {
    border-width: 1px;
    border-color: #FF8484FF;
    border-style: solid;
    font-size: 35px;
    padding: 0 100px;
    border-radius: 10px;
    overflow-wrap: anywhere;
    max-width: 800px;
    text-align: center;
}

@keyframes openBox {
    0%, 100% {
        transform: translateY(55px);
    }
    25% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(-25px);
        transform: rotateZ(-140deg);
        transform-origin: left;
    }
    90% {
        transform: rotate(-90deg);
        transform: translateY(-25px);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    25% {
        opacity: 1;
        font-size: 10px;
    }
    45% {
        opacity: 1;
        transform: translateY(-1000px);
        font-size: 10px;
    }
    60% {
        font-size: 80px;
    }
    80%, 100% {
        opacity: 1;
        transform: translateY(0px);
        font-size: 35px;
    }
}

/*  utility classes  */

.animateOpenBox {
    animation-name: openBox;
    animation-duration: 1.5s;
}

.animateShowText {
    animation-name: showText;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate-ease {
    animation-timing-function: ease-in;
}

.animation-delay_on_text_pop_up {
    animation-delay: .7s;
}
/* desktop view */
@media only screen and (min-width: 320px) {
    .giftcontainer {
        transform: translateY(150px);
        margin-bottom: 0px;
    }

    .giftBox {
        width: 350px;
        height: 350px;
    }

    .giftCap {
        width: 380px;
        height: 168px;
        background-size: 380px;
    }

    .openBtn {
        font-size: 15px;
        padding: 13px 35px;
        margin-top: 200px;
        margin-bottom: 0;
        font-size: 28px;
        transition: margin-top 0.15s;
    }

    .openBtn:hover {
        margin-top: 190px;
    }

    .openBtn:active {
        margin-top: 225px;
    }

    .giftTextCard {
        margin-top: 3%;
    }

    .content {
        font-size: 18px;
        padding: 0 250px;
        border-radius: 10px;
    }

    @keyframes showText {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        25% {
            opacity: 1;
            font-size: 8px;
        }
        45% {
            opacity: 1;
            transform: translateY(-1000px);
            font-size: 13px;
        }
        60% {
            font-size: 30px;
        }
        80%, 100% {
            opacity: 1;
            transform: translateY(0px);
            font-size: 23px;
        }
    }

    .animateShowText {
        animation-name: showText;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
/* 
@media only screen and (max-width: 512px) {
    .giftcontainer {
        transform: translateY(225px);
        margin-bottom: 0px;
    }

    .giftBox {
        width: 230px;
        height: 230px;
    }

    .giftCap {
        width: 250px;
        height: 50px;
    }

    .openBtn {
        font-size: 18px;
        padding: 13px 35px;
        margin-top: 280px;
        margin-bottom: 0;
        transition: margin-top 0.15s;
    }

    .openBtn:hover {
        margin-top: 270px;
    }

    .openBtn:active {
        margin-top: 295px;
    }

    .giftTextCard {
        margin-top: 3%;
    }

    .content {
        font-size: 18px;
        padding: 0 100px;
        border-radius: 10px;
    }

    @keyframes showText {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        25% {
            opacity: 1;
            font-size: 8px;
        }
        45% {
            opacity: 1;
            transform: translateY(-1000px);
            font-size: 8px;
        }
        60% {
            font-size: 25px;
        }
        80%, 100% {
            opacity: 1;
            transform: translateY(0px);
            font-size: 18px;
        }
    }

    .animateShowText {
        animation-name: showText;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
} */

/* Mobile view */
@media only screen and (max-width: 1024px) {
    .giftcontainer {
        transform: translateY(300px);
        margin-bottom: 3%;
    }

    .giftBox {
        width: 550px;
        height: 550px;
    }

    .giftCap {
        width: 600px;
        height: 300px;
        background-size: 600px;
    }

    .openBtn {
        margin-top: 350px;
        font-size: 75px;
        padding: 35px 130px;
        transition: margin-top 0.15s;
    }

    .openBtn:hover {
        margin-top: 335px;
    }

    .openBtn:active {
        margin-top: 375px;
    }

    .content {
        font-size: 80px;
        padding: 0 300px;
        border-radius: 10px;
        overflow-wrap: anywhere;
        max-width: 800px;
        margin-top: 55px;
    }

    @keyframes showText {
        0% {
            opacity: 0;
            transform: translateY(-1100px);
        }
        25% {
            opacity: 1;
            font-size: 35px;
        }
        45% {
            opacity: 1;
            transform: translateY(-1800px);
            font-size: 40x;
        }
        60% {
            font-size: 35px;
        }
        80%, 100% {
            opacity: 1;
            transform: translateY(0px);
            font-size: 30px;
        }
    }

    .animateShowText {
        animation-name: showText;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}